# Automatic Lab Evaluator

## Assessment based on student-provided results

* Jerónimo Arenas García
* Jesús Cid Sueiro

Version History:

    Version 0.1 (Dec. 2016)
        - Firts python 2 version and python 3 adaptation
    Version 0.2 (Dec. 2017) 
        - All configurable parameters in the first and second code cell.
        - Managing multiple mat files in students' zip files.
        - Corrected bug in readdatafiles (new student variables were not properly added to the dataframe)
        - Managing multiple class lists in Spanish and English.
        - External evaluation functions
        - New format of students report.

Pending issues:
    - Taking the target variable names from the list of questions from the database.

In [34]:
import numpy as np
import pandas as pd
import os
from os.path import isfile, join
import scipy.io as sio
import scipy
import zipfile as zp
import shutil
import difflib

# Evaluation libraries
from lib.dbEvaluator import *
from lib.dbSolver import *

## 1. Configurable parameters:

In [35]:
# #################
# Files and folders
# #################

# Project path
project_path = '../LabEvaluationProjects/ProjectB3_1718_GSCGT/'

# Paths to input and output files
class_list_path = project_path + 'listadeclase/'
data4st_path = project_path + 'data4students/'
results_path = project_path + 'student_results/Regulares/'
output_path = project_path + 'output/'

# Expected name of the students' results file. 
# This is used to disambiguate situations where the student uploaded multiple mat files
# (e.g. the input data file provided with the exam statement, or .mat files in .DS_STORE folders)
results_fname = 'results.mat'

# Output file name with
finalnotes_fname = 'student_notes.xlsx'

# ####
# Exam
# ####

# List of exam questions from the database
questions = ['F0_estimate_06', 'F1_model_01', 'F2_predict_03', 'F4_lms_02']

## 2. Read datafiles for all students

Student datafiles can be in any of the following formats:

   * `'.zip'`: When uncompressed, the zip may contain one or several matlab files. All matlab files are read and incorporated to a pandas Dataframe where each student is a column, and each index is a variable available for the exam solution
   * `'.mat'`: All data variables for the students are given in a single matlab file

In [44]:
def getFileName(fpath):
    return fpath.split('/')[-1]

def readdatafiles(datafiles_path, splitsymbol):
    '''
    This function is used for reading both the data files provided to student and the response
    files provided by students
    '''

    # Read file paths
    datafiles = [f for f in os.listdir(datafiles_path) if isfile(join(datafiles_path, f))]

    temporary_dir = './tmp'
    df = pd.DataFrame()
    
    # Read files
    print('Processing {0} files in {1} ...'.format(len(datafiles), datafiles_path))
    for dtfile in sorted(datafiles):
        
        idx = []
        val = []
        makedf = True      # This is a default flag. If it remains True, a new column will be added to the df

        # The tag can be the NIA, the student's name or just the begining of some other file
        tag = dtfile.split(splitsymbol)[0]

        if dtfile.endswith('.zip'):
            
            # Read names of .mat files
            zpobj = zp.ZipFile(join(datafiles_path, dtfile))            
            mat_fnames = [f for f in zpobj.namelist() if f.endswith('mat')]
            
            # mat file selection. This is to disambiguate cases with multiple files
            n = len(mat_fnames)
            if n == 0:
                print ('    WARNING: {} has not delivered any mat file'.format(tag))
                fname = None
            else:
                if n > 1:
                    print('    WARNING: {} has provided multiple mat files:'.format(tag))
                    print('        {0}'.format(mat_fnames))                  

                # Define a nested set of criteria to select a single mat file form multiple options:
                criteria = [mat_fnames]
                criteria.append([f for f in criteria[0] if '.ipynb_checkpoints' not in f])
                criteria.append([f for f in criteria[1] if f[0].isalnum()])
                criteria.append([f for f in criteria[2] if getFileName(f)[0].isalnum()])
                criteria.append([f for f in criteria[3] if getFileName(f)[0].isalpha()])
                criteria.append([f for f in criteria[4] if f.endswith(results_fname)])

                # Selecte the file according to the most restrictive criterium with non empty members.
                for c in reversed(criteria):
                    if len(c) > 0:
                        # We take the first file in the list (an arbitrary choice)
                        fname = c[0]
                        break
                if n > 1:
                    print('        Selected file: {}'.format(fname))

            # Read the selected mat file, if any
            if fname is not None:
                # Matlab files are extracted to a temporal subfolder
                zpobj.extract(fname, temporary_dir)
                data = sio.loadmat(join(temporary_dir, fname), squeeze_me=True)
                
                # Read all variable names and the corresponding data values
                for var in [el for el in data.keys() if not el.startswith('_')]:
                    idx.append(var)
                    val.append(data[var])

            # Remove temporary directory, if it has been created
            if os.path.exists(temporary_dir):
                shutil.rmtree(temporary_dir)

        elif dtfile.endswith('.mat'):

            # This block of code was removed from the original notebook.
            # I have rescued it from another notebook
            data = sio.loadmat(join(datafiles_path, dtfile), squeeze_me=True)
            
            # Read all variable names and the corresponding data values
            for var in [el for el in data.keys() if not el.startswith('_')]:
                idx.append(var)
                val.append(data[var])

        elif dtfile.endswith('m') or dtfile.endswith('py') or dtfile.endswith('.ipynb'):
            print('    WARNING: {} has provided a code file only:'.format(tag))
            print('        {0}'.format(dtfile))
        else:
            makedf = False
            print('    File ignored: {0}'.format(dtfile))
            
        if makedf:
            df2 = pd.DataFrame()
            df2[tag] = pd.Series(val, index = idx)
            df = pd.concat([df, df2], axis=1)
            df.sort_index(axis=1, inplace=True)
    return df

In [45]:
# Read students' data.
student_data = readdatafiles(data4st_path, splitsymbol='.')

print('')
print('Number of students in dataframe:', str(student_data.shape[1]))
print('Number of variables read:', str(student_data.shape[0]))

print('Displaying data for first students ... ')
student_data[student_data.columns[:7]]

Processing 83 files in ../LabEvaluationProjects/ProjectB3_1718_GSCGT/data4students/ ...
    File ignored: Icon

Number of students in dataframe: 82
Number of variables read: 7
Displaying data for first students ...

,100073324,100277378,100277493,100282920,100283839,100284246,100291206
x,"[0.193077350212, -1.32586460151, 1.2461388492,...","[0.595196873354, 4.38191984173, 0.539583151422...","[-0.177028983134, 1.40180471297, -1.1030150635...","[-1.35941115983, 0.751556532096, 0.48984786116...","[-4.03403487447, -5.31928308094, -1.3621317831...","[-1.97037928096, -0.35116264409, 3.68596458577...","[-0.382413146909, -3.20298749804, -1.749196881..."
u,"[-0.0675066851726, -0.594867358776, 0.93123869...","[0.444070514038, 1.93829057479, -0.66400035302...","[-0.108094315116, 0.697535081387, -0.879705290...","[-0.644834050075, 0.581426814486, 0.0755206389...","[-2.04515431441, -1.86086764267, 0.31455302002...","[-0.87983684517, 0.333654100446, 1.77859117521...","[-0.272045832781, -1.63892332105, -0.370564544..."
uTest,"[0.796247860831, 1.7704909839, -0.867613340656...","[1.09762769008, 0.512212065737, -0.63535729686...","[0.753525923418, -0.886780616839, 0.4620220928...","[-0.26224183758, 1.56996312693, 0.583973745853...","[-0.983506807672, 0.321814308911, -0.133788624...","[-0.983394521374, 0.0627119492389, 0.942892931...","[1.22845671673, -1.32848027581, 0.566058734266..."
varS,0.05,0.025,0.0185185,0.0227273,0.0227273,0.0277778,0.0294118
varN,0.02648,0.02756,0.02986,0.0384,0.03678,0.02492,0.02412
M,11,21,28,23,23,19,18
state,"(100073324, array([ 1.93077350e-01, -1.32586...","(100277378, array([ 5.95196873e-01, 4.38191...","(100277493, array([ -1.77028983e-01, 1.40180...","(100282920, array([ -1.35941116e+00, 7.51556...","(100283839, array([-4.03403487, -5.31928308, -...","(100284246, array([-1.97037928, -0.35116264, ...","(100291206, array([ -3.82413147e-01, -3.20298..."

## 2. Read answers provided by students

### 2.1. Requested variable names.

In order to get the names of the requested variables, we solve the exam with an arbitrary set of variables.

In [46]:
data = student_data[student_data.columns[0]].to_dict()

solution, scoring_ex = solveExam(questions, data)
truenames = list(solution.keys())

### 2.2. Read student results into panda dataframe

In [47]:
# Read student results
student_results = readdatafiles(results_path, splitsymbol='_')

# Build a set of indices containing the expected variable names and all other variables provided by students
newindex = truenames + [el for el in student_results.index.tolist() if el not in truenames]

student_results = student_results.reindex(newindex)

print('')
print('Number of students in dataframe:', str(student_results.shape[1]))
print('Number of variables read:', str(student_results.shape[0]))

print('Displaying data for first students ... ')
student_results[student_results.columns[0:7]]

Processing 52 files in ../LabEvaluationProjects/ProjectB3_1718_GSCGT/student_results/Regulares/ ...
    File ignored: .DS_Store
    WARNING: ALEJANDRO GOMEZ RODENAS has provided a code file only:
        ALEJANDRO GOMEZ RODENAS_1189023_assignsubmission_file_ExamenB3.ipynb
    WARNING: ALEJANDRO RODRIGUEZ GARCIA has provided multiple mat files:
        ['examen - copia/100346904.mat', 'examen - copia/results.mat']
        Selected file: examen - copia/results.mat
    WARNING: ALVARO VARELA CACHARRO has provided multiple mat files:
        ['Lab12/100330166.mat', 'Lab12/results.mat']
        Selected file: Lab12/results.mat
    WARNING: ANDONI TAJUELO MUÑOZ has provided multiple mat files:
        ['100316764.mat', '__MACOSX/._100316764.mat']
        Selected file: 100316764.mat
    WARNING: DANIEL BELLIDO CASTILLO has provided multiple mat files:
        ['Lab12/100291362.mat', 'Lab12/results.mat']
        Selected file: Lab12/results.mat
    WARNING: DANIEL MADRID POVEDA has provided multiple mat files:
        ['Lab3/results.mat', 'Lab3/100333500.mat', '__MACOSX/Lab3/._100333500.mat']
        Selected file: Lab3/results.mat
    File ignored: Icon
    WARNING: JAVIER GONZALEZ FUENTES has provided multiple mat files:
        ['Examen_B3/100318329.mat', '__MACOSX/Examen_B3/._100318329.mat', 'Examen_B3/results.mat']
        Selected file: Examen_B3/results.mat
    WARNING: JAVIER NOGUES GARCIA has provided multiple mat files:
        ['results.mat', '__MACOSX/._results.mat']
        Selected file: results.mat
    WARNING: JORGE TORRES MARTINEZ DE BUJO has provided multiple mat files:
        ['Lab12/100346684.mat', 'Lab12/results.mat']
        Selected file: Lab12/results.mat
    WARNING: MARIA EUGENIA MARTINEZ GARCIA has provided multiple mat files:
        ['100346843.mat', 'results_100346843.mat']
        Selected file: results_100346843.mat
    WARNING: MICHAEL UMENDU RIOS has provided multiple mat files:
        ['100315702/resultados100315702.mat', '__MACOSX/100315702/._resultados100315702.mat']
        Selected file: 100315702/resultados100315702.mat
    WARNING: NEREA MERIDA QUERO has provided multiple mat files:
        ['examen/100330623.mat', 'examen/examen/data.mat']
        Selected file: examen/examen/data.mat
    WARNING: RAQUEL CARMONA LOPEZ has provided multiple mat files:
        ['Examen_lab/.ipynb_checkpoints/100330499.mat', 'Examen_lab/100330499.mat']
        Selected file: Examen_lab/100330499.mat
    WARNING: ROCIO BARTOLOME FERNANDEZ has provided multiple mat files:
        ['aveahora/results.mat', '__MACOSX/aveahora/._results.mat']
        Selected file: aveahora/results.mat

Number of students in dataframe: 50
Number of variables read: 17
Displaying data for first students ...

,ADRIAN CRUZ SACEDO,ADRIAN GARCIA MOÑINO,ADRIAN LOPEZ RUIZ,ALBERTO GUILLERMO HERNANDEZ DOMINGUEZ,ALEJANDRO GOMEZ RODENAS,ALEJANDRO RODRIGUEZ GARCIA,ALEJANDRO RODRIGUEZ ORTIZ
sMAP,"[-0.192719572704, 0.00810438186374, -0.0142222...",NaN,"[[0.00114906038571, 5.63820408477e-05, -3.5279...","[2.00126378897, 0.795205827183, 0.291884478387...",NaN,"[1.991138141, 0.800632436901, 0.275577887403, ...",1
vMSE,"[[9.08473212892e-05, -9.97310875168e-07, -3.12...","[[12490468027.7, -1327215595.84, 7796680353.99...","[[0.0303782309394, 0.0303632662561, 0.03037042...","[[8.84495203229e-05, -5.44025572145e-06, -1.41...",NaN,"[[0.000101933026709, -8.59993043453e-06, -7.48...","[[32.570215841, -0.814874205907, 0.96348918116..."
xMSE10,0.309724,NaN,NaN,"[0.207631958717, -0.152612896869, 2.3590656784...",NaN,"[-0.00567017731374, -0.00567017731374, -0.0056...",1
s30,0,NaN,"[-1.4102930701, -0.895986761043, -0.8356581389...",NaN,NaN,NaN,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
M,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
XMSE10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sMSE10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state,NaN,NaN,NaN,NaN,NaN,NaN,NaN
u,NaN,NaN,NaN,NaN,NaN,NaN,NaN
uTest,NaN,NaN,NaN,NaN,NaN,NaN,NaN
varN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
varS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
voicein,NaN,NaN,NaN,NaN,NaN,NaN,NaN
voiceout,NaN,NaN,NaN,NaN,NaN,NaN,NaN
x,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 2.3. Common Mistakes on variable names

In view of all variable names provided by all students, we may decide to allow alternative names for variables without any penalty

In [40]:
# print(student_results)

In [41]:
print('Number of students in dataframe:', str(student_results.shape[1]))

print('\nDisplaying number of missing data per variable name.')
print('Those with a large number are potential common mistakes for a variable name')

student_results.isnull().sum(axis=1)

Number of students in dataframe: 50

Displaying number of missing data per variable name.
Those with a large number are potential common mistakes for a variable name

sMAP         7
vMSE         6
xMSE10      24
s30         22
M           47
NIA         49
S30         49
XMSE10      49
sMSE10      49
state       47
u           47
uTest       47
varN        47
varS        47
voicein     49
voiceout    49
x           47
dtype: int64

In [42]:
###########################################
# EXAM DEPENDENT VARIABLE

#Dictionary with accepted mistakes in the following format
#  Expected variable name : Accepted mistake
Mistakes = {'sMAP': 'smap', 's30': 'S30', 'xMSE10':'XMSE10'}
##########################################

# Fill and empty variable by the value of its accepted mistake.
for el in Mistakes:    
    # The following 'if is necessary because some of the mistakes in the dictionary may not happen.
    if Mistakes[el] in student_results.index.tolist():
        print(student_results.loc[Mistakes[el]])
        student_results.loc[el] = student_results.loc[el].fillna(student_results.loc[Mistakes[el]])

# Remove rows with the wrong variables.
for el in student_results.index.tolist():
    if el not in truenames:
        student_results.drop(el, inplace=True)
        
student_results[student_results.columns[:7]]

ADRIAN CRUZ SACEDO                                                                        NaN
ADRIAN GARCIA MOÑINO                                                                      NaN
ADRIAN LOPEZ RUIZ                                                                         NaN
ALBERTO GUILLERMO HERNANDEZ DOMINGUEZ                                                     NaN
ALEJANDRO GOMEZ RODENAS                                                                   NaN
ALEJANDRO RODRIGUEZ GARCIA                                                                NaN
ALEJANDRO RODRIGUEZ ORTIZ                                                                 NaN
ALVARO VARELA CACHARRO                                                                    NaN
ANA FERNANDEZ SANTOS                                                                      NaN
ANDONI TAJUELO MUÑOZ                                                                      NaN
ANDRES ESCALANTE ARIZA                                                                    NaN
ANTONIO HONORATO DE LA PEÑA                                                               NaN
BRUNO VERDUGO VILLANUEVA                                                                  NaN
CARLOS ASTILLEROS APARICIO                                                                NaN
CARLOS DIAZ FERNANDEZ                                                                     NaN
CARLOS GÓMEZ-ESCALONILLA PRADA                                                            NaN
CARMELO GARRIDO BANEGAS                                                                   NaN
CHRISTIAN GARCIA ARIAS                                                                    NaN
CRISTINA GARCIA GARCIA                                                                    NaN
DANIEL BELLIDO CASTILLO                                                                   NaN
DANIEL FERNANDEZ GONZALEZ                                                                 NaN
DANIEL MADRID POVEDA                                                                      NaN
DAVID ROLDAN GARCIA                                                                       NaN
DIEGO GUTIERREZ LOPEZ                                                                     NaN
DIEGO RUIZ DE TOLEDO GUTIERREZ DEL ALAMO                                                  NaN
ESTEFANIA FUENTES FERNANDEZ                                                               NaN
GALAN YUDIE HARDJONO HARTINI                                                              NaN
GEMMA CUSTODIO CASCOS                                                                     NaN
GERSHON ARAQUE MUNICIO                                                                    NaN
JAVIER FERNANDEZ CAMACHO                                                                  NaN
JAVIER GONZALEZ FUENTES                                                                   NaN
JAVIER NOGUES GARCIA                                                                      NaN
JAVIER RUIZ RUIZ                                                                          NaN
JORGE TORRES MARTINEZ DE BUJO                                                             NaN
LUIS FELIX GONZALEZ BLAZQUEZ                                                              NaN
MARIA EUGENIA MARTINEZ GARCIA                                                             NaN
MARTA MOURE GARRIDO                                                                       NaN
MICHAEL UMENDU RIOS                                                                       NaN
NEREA MERIDA QUERO                                                                        NaN
NURIA PORTAL CARRASQUILLA                                                                 NaN
OSCAR RODRIGUEZ CORPS                                                                     NaN
PAULA ENCINAR SANZ                          [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
PEDRO AGREDA JIMENEZ                                                                      NaN
PEDRO JAVIER MARTIN-DOIMEADIOS POZO                                                       NaN
PEDRO JOSE ESCOLAR SANCHEZ                                                                NaN
RAQUEL CARMONA LOPEZ                                                                      NaN
ROCIO BARTOLOME FERNANDEZ                                                                 NaN
SEBASTIAN ROSALES MAGALLARES                                                              NaN
SERGIO MARTINEZ YEPES                                                                     NaN
SONIA PEREZ BLAZQUEZ                                                                      NaN
Name: S30, dtype: object
ADRIAN CRUZ SACEDO                                                                        NaN
ADRIAN GARCIA MOÑINO                                                                      NaN
ADRIAN LOPEZ RUIZ                                                                         NaN
ALBERTO GUILLERMO HERNANDEZ DOMINGUEZ                                                     NaN
ALEJANDRO GOMEZ RODENAS                                                                   NaN
ALEJANDRO RODRIGUEZ GARCIA                                                                NaN
ALEJANDRO RODRIGUEZ ORTIZ                                                                 NaN
ALVARO VARELA CACHARRO                                                                    NaN
ANA FERNANDEZ SANTOS                                                                      NaN
ANDONI TAJUELO MUÑOZ                                                                      NaN
ANDRES ESCALANTE ARIZA                                                                    NaN
ANTONIO HONORATO DE LA PEÑA                                                               NaN
BRUNO VERDUGO VILLANUEVA                                                                  NaN
CARLOS ASTILLEROS APARICIO                                                                NaN
CARLOS DIAZ FERNANDEZ                                                                     NaN
CARLOS GÓMEZ-ESCALONILLA PRADA                                                            NaN
CARMELO GARRIDO BANEGAS                                                                   NaN
CHRISTIAN GARCIA ARIAS                                                                    NaN
CRISTINA GARCIA GARCIA                                                                    NaN
DANIEL BELLIDO CASTILLO                                                                   NaN
DANIEL FERNANDEZ GONZALEZ                                                                 NaN
DANIEL MADRID POVEDA                                                                      NaN
DAVID ROLDAN GARCIA                                                                       NaN
DIEGO GUTIERREZ LOPEZ                                                                     NaN
DIEGO RUIZ DE TOLEDO GUTIERREZ DEL ALAMO                                                  NaN
ESTEFANIA FUENTES FERNANDEZ                                                               NaN
GALAN YUDIE HARDJONO HARTINI                [-0.231253504648, -0.954529913217, 1.316735072...
GEMMA CUSTODIO CASCOS                                                                     NaN
GERSHON ARAQUE MUNICIO                                                                    NaN
JAVIER FERNANDEZ CAMACHO                                                                  NaN
JAVIER GONZALEZ FUENTES                                                                   NaN
JAVIER NOGUES GARCIA                                                                      NaN
JAVIER RUIZ RUIZ                                                                          NaN
JORGE TORRES MARTINEZ DE BUJO                                                             NaN
LUIS FELIX GONZALEZ BLAZQUEZ                                                              NaN
MARIA EUGENIA MARTINEZ GARCIA                                                             NaN
MARTA MOURE GARRIDO                                                                       NaN
MICHAEL UMENDU RIOS                                                                       NaN
NEREA MERIDA QUERO                                                                        NaN
NURIA PORTAL CARRASQUILLA                                                                 NaN
OSCAR RODRIGUEZ CORPS                                                                     NaN
PAULA ENCINAR SANZ                                                                        NaN
PEDRO AGREDA JIMENEZ                                                                      NaN
PEDRO JAVIER MARTIN-DOIMEADIOS POZO                                                       NaN
PEDRO JOSE ESCOLAR SANCHEZ                                                                NaN
RAQUEL CARMONA LOPEZ                                                                      NaN
ROCIO BARTOLOME FERNANDEZ                                                                 NaN
SEBASTIAN ROSALES MAGALLARES                                                              NaN
SERGIO MARTINEZ YEPES                                                                     NaN
SONIA PEREZ BLAZQUEZ                                                                      NaN
Name: XMSE10, dtype: object

,ADRIAN CRUZ SACEDO,ADRIAN GARCIA MOÑINO,ADRIAN LOPEZ RUIZ,ALBERTO GUILLERMO HERNANDEZ DOMINGUEZ,ALEJANDRO GOMEZ RODENAS,ALEJANDRO RODRIGUEZ GARCIA,ALEJANDRO RODRIGUEZ ORTIZ
sMAP,"[-0.192719572704, 0.00810438186374, -0.0142222...",NaN,"[[0.00114906038571, 5.63820408477e-05, -3.5279...","[2.00126378897, 0.795205827183, 0.291884478387...",NaN,"[1.991138141, 0.800632436901, 0.275577887403, ...",1
vMSE,"[[9.08473212892e-05, -9.97310875168e-07, -3.12...","[[12490468027.7, -1327215595.84, 7796680353.99...","[[0.0303782309394, 0.0303632662561, 0.03037042...","[[8.84495203229e-05, -5.44025572145e-06, -1.41...",NaN,"[[0.000101933026709, -8.59993043453e-06, -7.48...","[[32.570215841, -0.814874205907, 0.96348918116..."
xMSE10,0.309724,NaN,NaN,"[0.207631958717, -0.152612896869, 2.3590656784...",NaN,"[-0.00567017731374, -0.00567017731374, -0.0056...",1
s30,0,NaN,"[-1.4102930701, -0.895986761043, -0.8356581389...",NaN,NaN,NaN,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

### 2.4. Name to NIA dictionary

Finally, since datafiles are created by NIA and results are available per student name, we need to create a dictionary connecting them.

Student names are taken from one or several student lists. Using multiple list is useful when the same exam stated to multiple groups, or in the frequent situation where students from one group carry out the exam of another group.

In [43]:
# Select xls file names in the class list folder
print("Reading class lists...")
xls_files = [f for f in os.listdir(class_list_path) if f.endswith('.xls') or f.endswith('.xlsx')]
if len(xls_files) > 1:
    print("    There are {} excel files in the class_list folder.".format(len(xls_files)))
    print("    All students will be merged in a single list.")

# Load all xls files into dataframes
groups = []
for g in xls_files:
    df = pd.read_excel(class_list_path + g)
    # Translate column names form Spanish to English.
    # This is required to concatenate student lists in different languages.
    df.rename(columns={'Dirección de correo': 'Email address',
                       'Apellido(s)': 'Surname', 
                       'Nombre': 'First name'}, inplace=True)
    groups.append(df)

# Concatenate class lists (we do not expect duplicated NIU's in different lists)
student_NIA_names = pd.concat(groups)
print("Done. {0} students in the lists".format(len(student_NIA_names)))
student_NIA_names.sort_values('Surname')     #.head()

Reading class lists...
Done. 82 students in the lists

,NIU,Surname,First name,Email address
63,100346720,AGREDA JIMENEZ,PEDRO,100346720@alumnos.uc3m.es
10,100293005,ALONSO CALVO,ENRIQUE,100293005@alumnos.uc3m.es
56,100330672,ARAQUE MUNICIO,GERSHON,100330672@alumnos.uc3m.es
74,100346888,ASTILLEROS APARICIO,CARLOS,100346888@alumnos.uc3m.es
70,100346814,BADIA NUÑEZ,DAVID,100346814@alumnos.uc3m.es
1,100277378,BARBERO HERRANZ,ANGEL,100277378@alumnos.uc3m.es
33,100317556,BARTOLOME FERNANDEZ,ROCIO,100317556@alumnos.uc3m.es
7,100291362,BELLIDO CASTILLO,DANIEL,100291362@alumnos.uc3m.es
52,100330499,CARMONA LOPEZ,RAQUEL,100330499@alumnos.uc3m.es
20,100307091,CASADO HERRERO,MARCOS,100307091@alumnos.uc3m.es
19,100306582,CRUZ SACEDO,ADRIAN,100306582@alumnos.uc3m.es
37,100318636,CUSTODIO CASCOS,GEMMA,100318636@alumnos.uc3m.es
16,100305449,DE DIEGO PEREZ-CAMESELLE,IGNACIO,100305449@alumnos.uc3m.es
11,100293069,DIAZ DEL CAMPO CLEMENTE,GABRIEL,100293069@alumnos.uc3m.es
14,100303510,DIAZ FERNANDEZ,CARLOS,100303510@alumnos.uc3m.es
65,100346779,EL HAMDAOUI ABOUEL ABBES,HAMZA,100346779@alumnos.uc3m.es
64,100346767,ENCINAR SANZ,PAULA,100346767@alumnos.uc3m.es
53,100330515,ESCALANTE ARIZA,ANDRES,100330515@alumnos.uc3m.es
24,100315226,ESCOLAR SANCHEZ,PEDRO JOSE,100315226@alumnos.uc3m.es
75,100346899,ESCRICHE GARRALDA,JAVIER,100346899@alumnos.uc3m.es
47,100330290,FERNANDEZ CAMACHO,JAVIER,100330290@alumnos.uc3m.es
57,100330692,FERNANDEZ GONZALEZ,DANIEL,100330692@alumnos.uc3m.es
30,100316810,FERNANDEZ SANTOS,ANA,100316810@alumnos.uc3m.es
17,100305941,FUENTES FERNANDEZ,ESTEFANIA,100305941@alumnos.uc3m.es
76,100346902,GARCIA ARENAS,MATEO,100346902@alumnos.uc3m.es
67,100346788,GARCIA ARIAS,CHRISTIAN,100346788@alumnos.uc3m.es
66,100346780,GARCIA GARCIA,CRISTINA,100346780@alumnos.uc3m.es
13,100303492,GARCIA MARTIN,ALEJANDRO,100303492@alumnos.uc3m.es
50,100330405,GARCIA MOÑINO,ADRIAN,100330405@alumnos.uc3m.es
34,100317575,GARCIA-SIÑERIZ HERRADOR,SANDRA MARIA,100317575@alumnos.uc3m.es
...,...,...,...,...
15,100305285,MARTIN-ROMO BARRILERO,CARLOS,100305285@alumnos.uc3m.es
73,100346843,MARTINEZ GARCIA,MARIA EUGENIA,100346843@alumnos.uc3m.es
78,100346913,MARTINEZ YEPES,SERGIO,100346913@alumnos.uc3m.es
55,100330623,MERIDA QUERO,NEREA,100330623@alumnos.uc3m.es
60,100339679,MONDEDEU SANZ,BORJA,100339679@alumnos.uc3m.es
3,100282920,MONTILLA IZQUIERDO,PEDRO,100282920@alumnos.uc3m.es
79,100346923,MOURE GARRIDO,MARTA,100346923@alumnos.uc3m.es
2,100277493,NOGUES GARCIA,JAVIER,100277493@alumnos.uc3m.es
71,100346815,NUÑEZ HOBISPO,SERGIO ANTONIO,100346815@alumnos.uc3m.es
25,100315432,PEREZ BLAZQUEZ,SONIA,100315432@alumnos.uc3m.es
21,100307094,PORTAL CARRASQUILLA,NURIA,100307094@alumnos.uc3m.es
4,100283839,PRESCORNITOIU DRAGOS,BOGDAN GHEORGHE,100283839@alumnos.uc3m.es
26,100315556,RODRIGUEZ CORPS,OSCAR,100315556@alumnos.uc3m.es
77,100346904,RODRIGUEZ GARCIA,ALEJANDRO,100346904@alumnos.uc3m.es
9,100291909,RODRIGUEZ ORTIZ,ALEJANDRO,100291909@alumnos.uc3m.es
80,100346932,RODRIGUEZ TALAVERON,MIGUEL,100346932@alumnos.uc3m.es
45,100330212,ROLDAN GARCIA,DAVID,100330212@alumnos.uc3m.es
68,100346797,ROSALES MAGALLARES,SEBASTIAN,100346797@alumnos.uc3m.es
49,100330383,RUIZ DE TOLEDO GUTIERREZ DEL ALAMO,DIEGO,100330383@alumnos.uc3m.es
6,100291206,RUIZ RUIZ,JAVIER,100291206@alumnos.uc3m.es
35,100317652,SALEH RABBU,ISMAEL,100317652@alumnos.uc3m.es
81,100349473,SANCHEZ BARROSO,DAVID,100349473@alumnos.uc3m.es
29,100316764,TAJUELO MUÑOZ,ANDONI,100316764@alumnos.uc3m.es
23,100315221,TORRES CRIADO,VICTOR RUBEN,100315221@alumnos.uc3m.es
62,100346684,TORRES MARTINEZ DE BUJO,JORGE,100346684@alumnos.uc3m.es
27,100315702,UMENDU RIOS,MICHAEL,100315702@alumnos.uc3m.es
31,100316975,VARA MARTINEZ,MARIO,100316975@alumnos.uc3m.es
44,100330166,VARELA CACHARRO,ALVARO,100330166@alumnos.uc3m.es
28,100316592,VERDUGO VILLANUEVA,BRUNO,100316592@alumnos.uc3m.es
61,100346307,VICENTE LASO,FRANCISCO JAVIER,100346307@alumnos.uc3m.es

In [11]:
# UTF-8 encoding of everything
# AFAIK, this is no longer needed in Python 3, but I left it just in case...
for fld in student_NIA_names.keys():
    if fld != 'NIU':
        student_NIA_names[fld] = student_NIA_names[fld].str.encode('utf8')

# Build dictionary NIA: name
NIA_name = {}
for el in student_results.columns.tolist():

    # Find the student name in student_NIA_names that is most similar to el
    sim_list = []
    for idx, NIA in enumerate(student_NIA_names['NIU'].values):
        std_name = str(student_NIA_names['First name'].values.tolist()[idx]) + ' ' + \
                   str(student_NIA_names['Surname'].values.tolist()[idx])
        sim_list.append(difflib.SequenceMatcher(a=el.lower(), b=std_name.lower()).ratio())

    max_sim = max(sim_list)
    max_idx = sim_list.index(max_sim)
    NIA_name[student_NIA_names['NIU'].values.tolist()[max_idx]] = el

# Build reverse dictionary name: NIA
name_NIA = {NIA_name[el]: el for el in NIA_name}

At this point we have:

   * student_data: dataframe with data given to the students. Each index is a variable, and each column a NIA
   * student_results: dataframe with student results. Each index is a variable, and each column a name
   * NIA_name: NIA to name dictionary
   * name_NIA: name to NIA dictionary

## 3. Exam evaluation

To carry out the evaluation of the exam, we use the external evaluation libraries.

Function evaluateExam computes the correct solutions for the given data and compares them with the responses provided by the students.

In [12]:
df = pd.DataFrame()

print('Evaluating all students... ')
for NIA in NIA_name:

    name = NIA_name[NIA]
    # print('Evaluating {} ...'.format(name))

    # Evaluate the exam from the data provided to the student and the student response
    dataex = student_data[str(NIA)].to_dict()
    response = student_results[name].to_dict()
    exam_report = evaluateExam(questions, dataex, response)

    # Convert exam_report, which is a nested dictionary, into a pandas dataframe
    # Note that all this conversion to and from dictionaries can be avoided if evaluateExam 
    # worked with dataframes. This is a pending task.
    ex = {}
    for v  in exam_report:
        # if v=='Total Score':
        #     ex[('Total', 'Score')] = exam_report[v]
        # else:
        for w in exam_report[v]:
            ex[(v,w)] = exam_report[v][w]
    
    df[NIA_name[NIA]] = pd.Series(ex)

# Take the transpose to place students in rows, and restate the original variable ordering
# This is because pd.Series does not preserve the order.
cols = list(ex.keys())
df = df.T[cols]

# Save to excel file.
df.to_excel(output_path + finalnotes_fname, columns=df.columns)

# Pretty print results
df[df.columns[:]].head()

Evaluating all students...

                                          sMAP               vMSE            \
                                           Dim  w  s w·s      Dim  w  s w·s
ADRIAN CRUZ SACEDO                          OK  1  0   0       OK  1  1   1
ADRIAN GARCIA MOÑINO                   No data  1  0   0    Error  1  0   0
ADRIAN LOPEZ RUIZ                        Error  1  0   0    Error  1  0   0
ALBERTO GUILLERMO HERNANDEZ DOMINGUEZ       OK  1  1   1       OK  1  1   1
ALEJANDRO GOMEZ RODENAS                No data  1  0   0  No data  1  0   0

                                        xMSE10                s30            \
                                           Dim  w  s w·s      Dim  w  s w·s
ADRIAN CRUZ SACEDO                      Error2  1  0   0   Error2  1  0   0
ADRIAN GARCIA MOÑINO                   No data  1  0   0  No data  1  0   0
ADRIAN LOPEZ RUIZ                      No data  1  0   0    Error  1  0   0
ALBERTO GUILLERMO HERNANDEZ DOMINGUEZ       OK  1  1   1  No data  1  0   0
ALEJANDRO GOMEZ RODENAS                No data  1  0   0  No data  1  0   0

                                      Total
                                      Score
ADRIAN CRUZ SACEDO                      2.5
ADRIAN GARCIA MOÑINO                      0
ADRIAN LOPEZ RUIZ                         0
ALBERTO GUILLERMO HERNANDEZ DOMINGUEZ   7.5
ALEJANDRO GOMEZ RODENAS                   0

### 3.1. Penalties

In addition to the evaluation of the results file provided by the student, the final mark depends on other factors:

1. If the student uploaded the code files
2. Delays in delivering the files during the exam.
3. Errors in the delivering process (use of e-mail, incorrect file types, etc).

The following function is used to identify the code uploaded by the student.

In [13]:
def detectCode(datafiles_path, splitsymbol):
    '''
    This function is used to check if the student has uploaded a python or a matlab code file
    '''

    # Read file paths
    datafiles = [f for f in os.listdir(datafiles_path) if isfile(join(datafiles_path, f))]
    
    # Read files
    df = pd.DataFrame()
    print('Processing {0} files in {1} ...'.format(len(datafiles), datafiles_path))
    for dtfile in datafiles:
        
        idx = []
        val = []
        makedf = True      # This is a default flag. If it remains True, a new column will be added to the df

        # The tag can be the NIA, the student's name or just the begining of some other file
        tag = dtfile.split(splitsymbol)[0]

        if tag in name_NIA:
        
            if dtfile.endswith('.zip'):
             
                # Read names of .mat files
                files_in_zip = zp.ZipFile(join(datafiles_path, dtfile)).namelist()            

                # mat file selection. This is to disambiguate cases with multiple files
                n_mat = len([f for f in files_in_zip if f.endswith('.m')])
                n_py = len([f for f in files_in_zip if f.endswith('.py') or f.endswith('.ipynb')])

                if n_py * n_mat > 0:
                    print('WARNING: {} has delivered both matlab and python code'.format(name))

                if n_py > 0:
                    code = 'Py'
                elif n_mat > 0:
                    code = 'Mat'
                else:
                    code = 'None'

            elif dtfile.endswith('.py') or  dtfile.endswith('.ipynb'):
                code = 'Py'            
            elif dtfile.endswith('.m'):  
                code = 'Mat'
            else:
                code = 'None'

            df2 = pd.DataFrame()
            df2[tag] = pd.Series(code, index = ['Code'])
            df = pd.concat([df, df2], axis=1)
        else:
            print('    File ignored: {0}'.format(dtfile))
    return df.T

In [14]:
# Identify the code delivered by the students
code_data = detectCode(results_path, splitsymbol='_')
code_data[code_data.columns][:].head()

# Add the code data to the evaluation dataframe
df['Delivery', 'Code'] = code_data
df['Delivery', 'Factor'] = 1

Processing 52 files in ../LabEvaluationProjects/ProjectB3_1718_GSCGT/student_results/Regulares/ ...
    File ignored: .DS_Store
    File ignored: Icon

                                             sMAP               vMSE          \
                                              Dim  w  s w·s      Dim  w    s
ADRIAN CRUZ SACEDO                             OK  1  0   0       OK  1    1
ADRIAN GARCIA MOÑINO                      No data  1  0   0    Error  1    0
ADRIAN LOPEZ RUIZ                           Error  1  0   0    Error  1    0
ALBERTO GUILLERMO HERNANDEZ DOMINGUEZ          OK  1  1   1       OK  1    1
ALEJANDRO GOMEZ RODENAS                   No data  1  0   0  No data  1    0
ALEJANDRO RODRIGUEZ GARCIA                     OK  1  1   1       OK  1    1
ALEJANDRO RODRIGUEZ ORTIZ                  Error2  1  0   0       OK  1    0
ALVARO VARELA CACHARRO                         OK  1  1   1       OK  1    1
ANA FERNANDEZ SANTOS                           OK  1  1   1       OK  1    1
ANDONI TAJUELO MUÑOZ                      No data  1  0   0  No data  1    0
ANDRES ESCALANTE ARIZA                         OK  1  0   0       OK  1    1
ANTONIO HONORATO DE LA PEÑA                 Error  1  0   0       OK  1    1
BRUNO VERDUGO VILLANUEVA                       OK  1  0   0       OK  1    1
CARLOS ASTILLEROS APARICIO                     OK  1  1   1    Error  1    0
CARLOS DIAZ FERNANDEZ                          OK  1  1   1       OK  1    1
CARLOS GÓMEZ-ESCALONILLA PRADA                 OK  1  1   1       OK  1    1
CARMELO GARRIDO BANEGAS                     Error  1  0   0    Error  1    0
CHRISTIAN GARCIA ARIAS                         OK  1  1   1       OK  1    1
CRISTINA GARCIA GARCIA                    No data  1  0   0  No data  1    0
DANIEL BELLIDO CASTILLO                        OK  1  0   0       OK  1    1
DANIEL FERNANDEZ GONZALEZ                      OK  1  1   1       OK  1    1
DANIEL MADRID POVEDA                           OK  1  1   1       OK  1    1
DAVID ROLDAN GARCIA                        Error2  1  0   0   Error2  1    0
DIEGO GUTIERREZ LOPEZ                     No data  1  0   0    Error  1    0
DIEGO RUIZ DE TOLEDO GUTIERREZ DEL ALAMO       OK  1  1   1       OK  1    1
ESTEFANIA FUENTES FERNANDEZ                Error2  1  0   0       OK  1    1
GALAN YUDIE HARDJONO HARTINI                   OK  1  1   1       OK  1    1
GEMMA CUSTODIO CASCOS                       Error  1  0   0    Error  1    0
GERSHON ARAQUE MUNICIO                      Error  1  0   0    Error  1    0
JAVIER FERNANDEZ CAMACHO                   Error2  1  0   0       OK  1  0.5
JAVIER GONZALEZ FUENTES                        OK  1  0   0       OK  1    1
JAVIER NOGUES GARCIA                           OK  1  1   1       OK  1    1
JAVIER RUIZ RUIZ                           Error2  1  0   0       OK  1    0
JORGE TORRES MARTINEZ DE BUJO              Error2  1  0   0       OK  1    1
LUIS FELIX GONZALEZ BLAZQUEZ                   OK  1  1   1       OK  1    1
MARIA EUGENIA MARTINEZ GARCIA                  OK  1  1   1       OK  1    1
MARTA MOURE GARRIDO                            OK  1  1   1       OK  1    1
MICHAEL UMENDU RIOS                            OK  1  0   0       OK  1    1
NEREA MERIDA QUERO                        No data  1  0   0  No data  1    0
NURIA PORTAL CARRASQUILLA                      OK  1  0   0       OK  1  0.5
OSCAR RODRIGUEZ CORPS                          OK  1  1   1       OK  1    1
PAULA ENCINAR SANZ                          Error  1  0   0  No data  1    0
PEDRO AGREDA JIMENEZ                        Error  1  0   0    Error  1    0
PEDRO JAVIER MARTIN-DOIMEADIOS POZO            OK  1  1   1       OK  1    1
PEDRO JOSE ESCOLAR SANCHEZ                     OK  1  1   1       OK  1    1
RAQUEL CARMONA LOPEZ                      No data  1  0   0  No data  1    0
ROCIO BARTOLOME FERNANDEZ                  Error2  1  0   0   Error2  1    0
SEBASTIAN ROSALES MAGALLARES                Error  1  0   0       OK  1    1
SERGIO MARTINEZ YEPES                          OK  1  0   0       OK  1    1
SONIA PEREZ BLAZQUEZ                       Error2  1  0   0       OK  1    1

                                                xMSE10     ...           s30  \
                                          w·s      Dim  w  ...  w·s      Dim
ADRIAN CRUZ SACEDO                          1   Error2  1  ...    0   Error2
ADRIAN GARCIA MOÑINO                        0  No data  1  ...    0  No data
ADRIAN LOPEZ RUIZ                           0  No data  1  ...    0    Error
ALBERTO GUILLERMO HERNANDEZ DOMINGUEZ       1       OK  1  ...    1  No data
ALEJANDRO GOMEZ RODENAS                     0  No data  1  ...    0  No data
ALEJANDRO RODRIGUEZ GARCIA                  1    Error  1  ...    0  No data
ALEJANDRO RODRIGUEZ ORTIZ                   0   Error2  1  ...    0       OK
ALVARO VARELA CACHARRO                      1       OK  1  ...    0  No data
ANA FERNANDEZ SANTOS                        1       OK  1  ...    1       OK
ANDONI TAJUELO MUÑOZ                        0  No data  1  ...    0  No data
ANDRES ESCALANTE ARIZA                      1   Error2  1  ...    0   Error2
ANTONIO HONORATO DE LA PEÑA                 1  No data  1  ...    0  No data
BRUNO VERDUGO VILLANUEVA                    1    Error  1  ...    0  No data
CARLOS ASTILLEROS APARICIO                  0    Error  1  ...    0    Error
CARLOS DIAZ FERNANDEZ                       1    Error  1  ...    0       OK
CARLOS GÓMEZ-ESCALONILLA PRADA              1   Error2  1  ...    0  No data
CARMELO GARRIDO BANEGAS                     0    Error  1  ...    0    Error
CHRISTIAN GARCIA ARIAS                      1   Error2  1  ...    0  No data
CRISTINA GARCIA GARCIA                      0  No data  1  ...    0  No data
DANIEL BELLIDO CASTILLO                     1  No data  1  ...    0       OK
DANIEL FERNANDEZ GONZALEZ                   1    Error  1  ...    0       OK
DANIEL MADRID POVEDA                        1  No data  1  ...    0  No data
DAVID ROLDAN GARCIA                         0  No data  1  ...    0   Error2
DIEGO GUTIERREZ LOPEZ                       0  No data  1  ...    0    Error
DIEGO RUIZ DE TOLEDO GUTIERREZ DEL ALAMO    1    Error  1  ...    0       OK
ESTEFANIA FUENTES FERNANDEZ                 1  No data  1  ...    0  No data
GALAN YUDIE HARDJONO HARTINI                1    Error  1  ...    0       OK
GEMMA CUSTODIO CASCOS                       0  No data  1  ...    0  No data
GERSHON ARAQUE MUNICIO                      0  No data  1  ...    0    Error
JAVIER FERNANDEZ CAMACHO                  0.5  No data  1  ...    0  No data
JAVIER GONZALEZ FUENTES                     1  No data  1  ...    0  No data
JAVIER NOGUES GARCIA                        1       OK  1  ...    1       OK
JAVIER RUIZ RUIZ                            0  No data  1  ...    0  No data
JORGE TORRES MARTINEZ DE BUJO               1    Error  1  ...    0       OK
LUIS FELIX GONZALEZ BLAZQUEZ                1       OK  1  ...    0   Error2
MARIA EUGENIA MARTINEZ GARCIA               1  No data  1  ...    0    Error
MARTA MOURE GARRIDO                         1       OK  1  ...    1       OK
MICHAEL UMENDU RIOS                         1    Error  1  ...    0       OK
NEREA MERIDA QUERO                          0  No data  1  ...    0  No data
NURIA PORTAL CARRASQUILLA                 0.5   Error2  1  ...    0       OK
OSCAR RODRIGUEZ CORPS                       1    Error  1  ...    0       OK
PAULA ENCINAR SANZ                          0  No data  1  ...    0       OK
PEDRO AGREDA JIMENEZ                        0  No data  1  ...    0  No data
PEDRO JAVIER MARTIN-DOIMEADIOS POZO         1       OK  1  ...    1       OK
PEDRO JOSE ESCOLAR SANCHEZ                  1       OK  1  ...    0       OK
RAQUEL CARMONA LOPEZ                        0  No data  1  ...    0  No data
ROCIO BARTOLOME FERNANDEZ                   0   Error2  1  ...    0       OK
SEBASTIAN ROSALES MAGALLARES                1  No data  1  ...    0  No data
SERGIO MARTINEZ YEPES                       1  No data  1  ...    0    Error
SONIA PEREZ BLAZQUEZ                        1    Error  1  ...    0       OK

                                                         Total Other         \
                                            w    s   w·s Score  Code Factor
ADRIAN CRUZ SACEDO                          1    0     0   2.5    Py      1
ADRIAN GARCIA MOÑINO                        1    0     0     0    Py      1
ADRIAN LOPEZ RUIZ                           1    0     0     0    Py      1
ALBERTO GUILLERMO HERNANDEZ DOMINGUEZ       1    0     0   7.5    Py      1
ALEJANDRO GOMEZ RODENAS                     1    0     0     0    Py      1
ALEJANDRO RODRIGUEZ GARCIA                  1    0     0     5    Py      1
ALEJANDRO RODRIGUEZ ORTIZ                   1    0     0     0    Py      1
ALVARO VARELA CACHARRO                      1    0     0     5   Mat      1
ANA FERNANDEZ SANTOS                        1  0.8   0.8   9.5    Py      1
ANDONI TAJUELO MUÑOZ                        1    0     0     0    Py      1
ANDRES ESCALANTE ARIZA                      1    0     0   2.5    Py      1
ANTONIO HONORATO DE LA PEÑA                 1    0     0   2.5    Py      1
BRUNO VERDUGO VILLANUEVA                    1    0     0   2.5    Py      1
CARLOS ASTILLEROS APARICIO                  1    0     0   2.5    Py      1
CARLOS DIAZ FERNANDEZ                       1  0.8   0.8     7    Py      1
CARLOS GÓMEZ-ESCALONILLA PRADA              1    0     0     5    Py      1
CARMELO GARRIDO BANEGAS                     1    0     0     0    Py      1
CHRISTIAN GARCIA ARIAS                      1    0     0     5    Py      1
CRISTINA GARCIA GARCIA                      1    0     0     0    Py      1
DANIEL BELLIDO CASTILLO                     1  0.8   0.8   4.5   Mat      1
DANIEL FERNANDEZ GONZALEZ                   1    1     1   7.5    Py      1
DANIEL MADRID POVEDA                        1    0     0     5    Py      1
DAVID ROLDAN GARCIA                         1    0     0     0    Py      1
DIEGO GUTIERREZ LOPEZ                     0.8  0.8  0.64   1.6    Py      1
DIEGO RUIZ DE TOLEDO GUTIERREZ DEL ALAMO    1    0     0     5    Py      1
ESTEFANIA FUENTES FERNANDEZ                 1    0     0   2.5    Py      1
GALAN YUDIE HARDJONO HARTINI                1  0.8   0.8     7    Py      1
GEMMA CUSTODIO CASCOS                       1    0     0     0    Py      1
GERSHON ARAQUE MUNICIO                      1    0     0     0    Py      1
JAVIER FERNANDEZ CAMACHO                    1    0     0  1.25    Py      1
JAVIER GONZALEZ FUENTES                     1    0     0   2.5    Py      1
JAVIER NOGUES GARCIA                        1  0.8   0.8   9.5    Py      1
JAVIER RUIZ RUIZ                            1    0     0     0   Mat      1
JORGE TORRES MARTINEZ DE BUJO               1  0.8   0.8   4.5    Py      1
LUIS FELIX GONZALEZ BLAZQUEZ                1    0     0     5    Py      1
MARIA EUGENIA MARTINEZ GARCIA               1    0     0     5    Py      1
MARTA MOURE GARRIDO                         1  0.8   0.8   9.5    Py      1
MICHAEL UMENDU RIOS                         1    0     0   2.5    Py      1
NEREA MERIDA QUERO                          1    0     0     0    Py      1
NURIA PORTAL CARRASQUILLA                   1    0     0  1.25    Py      1
OSCAR RODRIGUEZ CORPS                       1    0     0     5    Py      1
PAULA ENCINAR SANZ                          1    0     0     0    Py      1
PEDRO AGREDA JIMENEZ                        1    0     0     0    Py      1
PEDRO JAVIER MARTIN-DOIMEADIOS POZO         1  0.8   0.8   9.5    Py      1
PEDRO JOSE ESCOLAR SANCHEZ                  1  0.8   0.8     7    Py      1
RAQUEL CARMONA LOPEZ                        1    0     0     0    Py      1
ROCIO BARTOLOME FERNANDEZ                   1    0     0     0    Py      1
SEBASTIAN ROSALES MAGALLARES                1    0     0   2.5    Py      1
SERGIO MARTINEZ YEPES                       1    0     0   2.5    Py      1
SONIA PEREZ BLAZQUEZ                        1  0.8   0.8   4.5    Py      1

                                                   Final
                                         Penalties Score
ADRIAN CRUZ SACEDO                             NaN   2.5
ADRIAN GARCIA MOÑINO                           NaN     0
ADRIAN LOPEZ RUIZ                              NaN     0
ALBERTO GUILLERMO HERNANDEZ DOMINGUEZ          NaN   7.5
ALEJANDRO GOMEZ RODENAS                        NaN     0
ALEJANDRO RODRIGUEZ GARCIA                     NaN     5
ALEJANDRO RODRIGUEZ ORTIZ                      NaN     0
ALVARO VARELA CACHARRO                         NaN     5
ANA FERNANDEZ SANTOS                           NaN   9.5
ANDONI TAJUELO MUÑOZ                           NaN     0
ANDRES ESCALANTE ARIZA                         NaN   2.5
ANTONIO HONORATO DE LA PEÑA                    NaN   2.5
BRUNO VERDUGO VILLANUEVA                       NaN   2.5
CARLOS ASTILLEROS APARICIO                     NaN   2.5
CARLOS DIAZ FERNANDEZ                          NaN     7
CARLOS GÓMEZ-ESCALONILLA PRADA                 NaN     5
CARMELO GARRIDO BANEGAS                        NaN     0
CHRISTIAN GARCIA ARIAS                         NaN     5
CRISTINA GARCIA GARCIA                         NaN     0
DANIEL BELLIDO CASTILLO                        NaN   4.5
DANIEL FERNANDEZ GONZALEZ                      NaN   7.5
DANIEL MADRID POVEDA                           NaN     5
DAVID ROLDAN GARCIA                            NaN     0
DIEGO GUTIERREZ LOPEZ                          NaN   1.6
DIEGO RUIZ DE TOLEDO GUTIERREZ DEL ALAMO       NaN     5
ESTEFANIA FUENTES FERNANDEZ                    NaN   2.5
GALAN YUDIE HARDJONO HARTINI                   NaN     7
GEMMA CUSTODIO CASCOS                          NaN     0
GERSHON ARAQUE MUNICIO                         NaN     0
JAVIER FERNANDEZ CAMACHO                       NaN  1.25
JAVIER GONZALEZ FUENTES                        NaN   2.5
JAVIER NOGUES GARCIA                           NaN   9.5
JAVIER RUIZ RUIZ                               NaN     0
JORGE TORRES MARTINEZ DE BUJO                  NaN   4.5
LUIS FELIX GONZALEZ BLAZQUEZ                   NaN     5
MARIA EUGENIA MARTINEZ GARCIA                  NaN     5
MARTA MOURE GARRIDO                            NaN   9.5
MICHAEL UMENDU RIOS                            NaN   2.5
NEREA MERIDA QUERO                             NaN     0
NURIA PORTAL CARRASQUILLA                      NaN  1.25
OSCAR RODRIGUEZ CORPS                          NaN     5
PAULA ENCINAR SANZ                             NaN     0
PEDRO AGREDA JIMENEZ                           NaN     0
PEDRO JAVIER MARTIN-DOIMEADIOS POZO            NaN   9.5
PEDRO JOSE ESCOLAR SANCHEZ                     NaN     7
RAQUEL CARMONA LOPEZ                           NaN     0
ROCIO BARTOLOME FERNANDEZ                      0.6     0
SEBASTIAN ROSALES MAGALLARES                   NaN   2.5
SERGIO MARTINEZ YEPES                          NaN   2.5
SONIA PEREZ BLAZQUEZ                           NaN   4.5

[50 rows x 21 columns]

In [ ]:
# This cell contains project specific instructions.

# PENALTIES:
if project_path == '../LabEvaluationProjects/ProjectB3_1718_GSCGT/':

    # STUDENTS THAT DID NOT DELIVER ANY RESULTS.
    #     ALEJANDRO GOMEZ RODENAS: (no e-mail) Delivers code only.
    #         Results generated with penalty
    df.at['ALEJANDRO GOMEZ RODENAS', ('Delivery', 'Factor')] = 0.6

    #     ANDONI TAJUELO MUÑOZ: (no e-mail) Does not deliver results file. However, code computes some variables.
    #         Results generated with penalty
    df.at['ANDONI TAJUELO MUÑOZ', ('Delivery', 'Factor')] = 0.6

    #     HAMZA EL HAMDAOUI ABOUEL ABBES: (e-mail) His computer get blocked and could not generate results file 
    #         savemat command incorrect. Code generated without penalty.
    df.at['HAMZA EL HAMDAOUI ABOUEL ABBES', ('Delivery', 'Factor')] = 0.6
    
    #     ROCIO BARTOLOME FERNANDEZ: (no e-mail) entrega un fichero Lab12.7z, pero cambia el nombre por Lab12zip
    #         Results generated with penalty.
    df.at['ROCIO BARTOLOME FERNANDEZ', ('Delivery', 'Factor')] = 0.6

    #     CRISTINA GARCIA GARCIA: (e-mail) Does not deliver results file. Code does not compute any of the variables 
    #     NEREA MERIDA QUERO: (no e-mail) Delivers multiple code versions.
    #     RAQUEL CARMONA LOPEZ (no e-mail) No results file. The code is completely wrong.
    

df['Final', 'Score'] = df['Total', 'Score'] * df['Other', 'Factor']
df[df.columns]    # .head()

In [15]:
NIA_name

{100073324: 'GALAN YUDIE HARDJONO HARTINI',
 100277493: 'JAVIER NOGUES GARCIA',
 100291206: 'JAVIER RUIZ RUIZ',
 100291362: 'DANIEL BELLIDO CASTILLO',
 100291909: 'ALEJANDRO RODRIGUEZ ORTIZ',
 100303510: 'CARLOS DIAZ FERNANDEZ',
 100305941: 'ESTEFANIA FUENTES FERNANDEZ',
 100306582: 'ADRIAN CRUZ SACEDO',
 100307094: 'NURIA PORTAL CARRASQUILLA',
 100307156: 'PEDRO JAVIER MARTIN-DOIMEADIOS POZO',
 100315226: 'PEDRO JOSE ESCOLAR SANCHEZ',
 100315432: 'SONIA PEREZ BLAZQUEZ',
 100315556: 'OSCAR RODRIGUEZ CORPS',
 100315702: 'MICHAEL UMENDU RIOS',
 100316592: 'BRUNO VERDUGO VILLANUEVA',
 100316764: 'ANDONI TAJUELO MUÑOZ',
 100316810: 'ANA FERNANDEZ SANTOS',
 100317070: 'DIEGO GUTIERREZ LOPEZ',
 100317556: 'ROCIO BARTOLOME FERNANDEZ',
 100318329: 'JAVIER GONZALEZ FUENTES',
 100318636: 'GEMMA CUSTODIO CASCOS',
 100330000: 'CARMELO GARRIDO BANEGAS',
 100330163: 'ALEJANDRO GOMEZ RODENAS',
 100330166: 'ALVARO VARELA CACHARRO',
 100330212: 'DAVID ROLDAN GARCIA',
 100330266: 'LUIS FELIX GONZALEZ BLAZQUEZ',
 100330290: 'JAVIER FERNANDEZ CAMACHO',
 100330383: 'DIEGO RUIZ DE TOLEDO GUTIERREZ DEL ALAMO',
 100330405: 'ADRIAN GARCIA MOÑINO',
 100330408: 'ANTONIO HONORATO DE LA PEÑA',
 100330499: 'RAQUEL CARMONA LOPEZ',
 100330515: 'ANDRES ESCALANTE ARIZA',
 100330518: 'ADRIAN LOPEZ RUIZ',
 100330623: 'NEREA MERIDA QUERO',
 100330672: 'GERSHON ARAQUE MUNICIO',
 100330692: 'DANIEL FERNANDEZ GONZALEZ',
 100333500: 'DANIEL MADRID POVEDA',
 100339174: 'CARLOS GÓMEZ-ESCALONILLA PRADA',
 100346684: 'JORGE TORRES MARTINEZ DE BUJO',
 100346720: 'PEDRO AGREDA JIMENEZ',
 100346767: 'PAULA ENCINAR SANZ',
 100346780: 'CRISTINA GARCIA GARCIA',
 100346788: 'CHRISTIAN GARCIA ARIAS',
 100346797: 'SEBASTIAN ROSALES MAGALLARES',
 100346809: 'ALBERTO GUILLERMO HERNANDEZ DOMINGUEZ',
 100346843: 'MARIA EUGENIA MARTINEZ GARCIA',
 100346888: 'CARLOS ASTILLEROS APARICIO',
 100346904: 'ALEJANDRO RODRIGUEZ GARCIA',
 100346913: 'SERGIO MARTINEZ YEPES',
 100346923: 'MARTA MOURE GARRIDO'}